body
{
	background: #000;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	line-height: 2em;
	color: #3f3f3f;
}

img
{ max-width: 100%; }
A:link, A:visited
{
	opacity: 1;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
	color: white;
}
A:hover
{
	opacity: 0.4;
}

.header-whitespace
{
	position: relative;
	background: none;
	height:120px;
	padding: 0;
}

.header
{
	background: none;
	height: 0;
	margin-bottom: 14px;
	padding: 0;
	text-align: left;
	opacity: 0;
}

label
{
	display:none;
}

input
{ display:none; }

ul.header-link
{
	text-transform: uppercase;
	height: 66px;
	padding: 0;
	overflow: hidden;
	list-style-type: none;
	transition: 0.2s ease-out;
	position: absolute;
	min-width: 100%;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	background: #000;
	top: 40px;
	overflow: hidden;
}

ul.header-link li a
{
	text-decoration: none;
	padding: 10px 20px;
	overflow: hidden;
}

ul.header-link li
{
	display: inline;
	overflow: hidden;
}

label:hover, input:checked ~ label
{background:rgba(0,0,0,.3);}

.align-left
{
	text-align: left;
}

.content
{
	position: relative;
	width: 100%;
	text-align: center;
	display: inline-block;
	background: #fff;
	padding: 60px 0px;
}
.content-item
{
	padding: 32px;
}
.content-link
{
	font-size: 12px;
	text-decoration: none;
}

.front-page
{
	position: relative;
	width: 100%;
	height: 690px;
	text-align: center;
	display: inline-block;
	font-size: 12px;
}
.front-page a
{
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}

.spacer
{
	height: 10px;
}

.centerY
{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.centerX
{
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

H1
{
	font-weight: normal;
	font-size: 32px;
}
H2
{
	font-weight: normal;
	font-size: 24px;
}
H3
{
	font-weight: bold;
	font-size: 18px;
	color: #f60;
}
H4
{
	font-weight: bold;
	font-size: 16px;
}
H5
{
	font-size: 16px;
}

.last-updated
{
	color: #f60;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 12px;
}

.row
{
	display: inline-block;
	position: relative;
}

.three-cols
{
	float: left;
	width: 220px;
	padding: 0 15px;
	max-width: 100%;
}

.two-cols
{
	float: left;
	max-width: 45%;
	padding: 0 15px;
}

.one-col
{
	float: none;
	width: 100%;
	max-width: 100%;
	padding: 0;
}

.col-content
{
	margin: 0px;
}

.indent
{
	margin: 0 0 0 20px;
}

.stickers
{
	max-width: 100%;
	padding: 0;
	
}
.stickers img
{
	max-width: 400px;
	width: 100%;
}

@media screen and (max-width:800px)
{
}

.paragraph
{
	font-size: 16px;
}
.paragraph a
{
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
.paragraph a:hover
{
	opacity: 0.5;
}

.button-black
{
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	text-decoration: none;
	background: #000;
	border-radius: 5px;
	opacity: 1;
	color: #fff !important;
	padding: 10px 20px;
	margin: 10px;
}
.button-black:hover
{
	opacity: 0.5;
}

.button-white
{
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	text-decoration: none;
	background: #fff;
	border-radius: 5px;
	opacity: 1;
	color: #000 !important;
	padding: 10px 20px;
	margin: 10px;
}
.button-white:hover
{
	opacity: 0.5;
}

.footer
{
	opacity: 0.3;
	color: white;
	font-size: 12px;
	font-family: Helvetica, Arial, sans-serif;
	text-transform: none;
	text-align:center;
	border-top: 1px solid white;
	height: 120px;
	background: #000;
	padding-top: 1em;
}
.footer-link
{
	text-decoration: underline;
}

@media /*screen*/ (max-width: 800px)
{
	.header-whitespace
	{
		position: relative;
		background: none;
		height: 25mm;
		padding: 0;
	}
	
	.header
	{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 25mm;
		background: none;
		padding-right: 0;
		margin-bottom: 0;
	}

	label
	{
		position: relative;
		display: block;
		padding: 0;
		line-height: 3em;
		transition: background 0.2s;
		cursor: pointer;
		width: 25mm;
		height: 100%;
		margin: 0;
	}

	input{display:none}

	input:checked ~ ul.header-link
	{
		max-height: 100vh;
		transition: 0.2s ease-in;
		position: absolute;
		padding: 0 0 100% 0;
		overflow: hidden;
	}
	
	li.header
	{
		width: 25mm;
	}

	ul.header-link
	{
		max-height: 0;
		margin: 0;
		padding: 0;
		overflow: hidden;
		list-style-type: none;
		transition: 0.2s ease-out;
		position: absolute;
		min-width: 100%;
		font-weight: bold;
		text-align: center;
		background: #000;
		top: 0;
		overflow: hidden;
	}

	ul.header-link li a
	{
		display: block;
		font-size: 50px;
		padding: 10% 0 ;
		overflow: hidden;
	}
	
	.row
	{
		display: inline-block;
		position: relative;
		padding: 0 25px;
		text-align: center;
	}
	.three-cols
	{
		/*float: none;*/
		width: 100%;
		max-width: 100% !important;
		padding: 0;
		text-align: center;
	}
	.two-cols
	{
		/*float: none;*/
		width: 100%;
		max-width: 100% !important;
		padding: 0;
		text-align: center;
	}
	.align-left
	{
		text-align: center;
	}

	
	body
	{
		font-size: 26px;
	}

	H1
	{
		font-size: 64px;
	}
	H2
	{
		font-size: 48px;
	}
	H3
	{
		font-size: 36px;
	}
	H4
	{
		font-size: 32px;
	}
	H5
	{
		font-size: 32px;
	}
	.paragraph
	{
		font-size: 32px;
	}

	.content-link
	{
		font-size: 24px;
	}
	.front-page
	{
		font-size: 24px;
	}
	.last-updated
	{
		font-size: 24px;
	}
	.footer
	{
		font-size: 24px;
	}

}

.header
{
	opacity: 1 !important;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}

.heart
{
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
	opacity: 0 !important;
	max-width: 50px;
	padding-bottom: 10px;
}
.heart:hover
{
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
	opacity: 0.5 !important;
}